@font-face {
  font-family: 'Source Sans 3 Var';
  src: url(/fonts/SourceSans3VF-Upright.woff2);
  font-display: block;
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans 3 Var';
  src: url(/fonts/SourceSans3VF-Italic.woff2);
  font-display: block;
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-family: 'Source Code Var';
  src: url(/fonts/SourceCodeVF-Upright.woff2);
  font-display: block;
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Nice Var';
  src: url(/fonts/NiceVAR.woff2);
  font-display: block;
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Nice Var';
  src: url(/fonts/NiceVAR-Italic.woff2);
  font-display: block;
  font-weight: 100 900;
  font-style: italic;
}
